#post_show
  %h1= @post.title
  %p.username
    Compartilhado por
    = @post.user.name
    = time_ago_in_words(@post.created_at)
    atrás
  .clearfix
    .post_image_description
      = image_tag @post.image.url(:medium)
      .description= simple_format(@post.description)
    .post_data
      = link_to "Visit Link", @post.link, class: "button"
      = link_to like_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@post.get_upvotes.size, "Massa")
      %p.data
        %i.fa.fa-comments-o
        = pluralize(@post.comments.count, "Comentário")
      - if @post.user == current_user
        = link_to "Editar", edit_post_path(@post), class: "data"
        = link_to "Excluir", post_path(@post), method: :delete, data: { confirm: "Tem certeza?" }, class: "data"
    #random_post
      %h3 Mais fotos
      .post
        .post_image
          = link_to (image_tag @random_post.image.url(:medium)), post_path(@random_post)
        .post_content
          .data.clearfix
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @random_post.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @random_post.get_likes.size

#comments
  %h2.comment_count= pluralize(@post.comments.count, "Comentário")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render "comments/form"
