= link_to "Home", root_path

%h1= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name

= link_to "Editar", edit_post_path(@post)
= link_to "Excluir", post_path(@post), method: :delete, data: { confirm: "Tem certeza?" }
